:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #5D5E5E;
    --quaternary-color: #e8e8e8;
    --error-color: #EE3A23;
}

.background {
    background-color: #8A8C8F;
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 4px;
    
}

.background {
    margin-top: 75px; /* add some margin to the top of the main content */
  }

.button {
    background-color: var(--primary-color);
    border: none;
    color: var(--secondary-color);
    padding: 6px 8px 4px 8px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px; /* You can adjust the value to control the roundness */
  }
  
  .button-delete {
    background-color: var(--error-color);
    border: none;
    color: var(--secondary-color);
    padding: 6px 8px 4px 8px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px; /* You can adjust the value to control the roundness */
  }

.button-group {
    display: flex;
    justify-content: space-between;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 50px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
    text-align: center;

}

.card .detail-header {
    font-weight: bold;
}

.card span {
    font-weight: normal; /* remove bold style for spans */
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 100%;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* Basic table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color); /* Use secondary color for border */
}

/* Header row background color */
th {
    background-color: var(--primary-color); /* Use primary color for header background */
    color: var(--secondary-color); /* Use secondary color for text color in header */
    cursor: default;
}

/* Odd and even row background colors (swapped) */
tr:nth-child(even) {
    background-color: var(--secondary-color); /* Use secondary color for even row background */
}

tr:nth-child(odd) {
    background-color: var(--tertiary-color); /* Use tertiary color for odd row background */
    color: var(--secondary-color); /* Use secondary color for text color on odd rows */
}

/* Hover effect on rows */
tr:hover {
    background-color: var(--quaternary-color); /* Use tertiary color for hover effect background */
    color: var(--primary-color); /* Use secondary color for text color on hover */
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .flex-item {
    flex: 1 0 200px; 
    margin: 10px;
  }
  
  .flex-item img {
    max-width: 70%;
    height: auto;
    display: block;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

.form-field label {
    margin-bottom: 10px; /* Adjust as needed */
}

.form-field input,
.form-field select {
    margin-bottom: 16px; /* Adjust as needed */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* SweetAlert modals */
.swal2-popup {
    font-size: 1.2rem;
}

.swal2-title {
    font-size: 1.8rem; 
}

.swal2-content {
    font-size: 1.6rem; 
}

.swal2-popup .swal2-confirm {
    font-size: 1.4rem; 
    background-color: var(--error-color);
}

.swal2-popup .swal2-cancel {
    background-color: var(--tertiary-color);
}

/* images */
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.container {
    width: 100%;
    height: 100vh;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

  .overlay-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 50px;
    font-size: 35px;
    text-align: center;
  }  
  
  .overlay-text2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
  }

  .custom-dropdown {
    width: 200px;
    max-height: 20%; /* Set a fixed height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    /* Add more styling as needed */
  }
  
  /* Style the dropdown arrow */
  .custom-dropdown::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  /* Style the options within the dropdown */
  .custom-dropdown option {
    background-color: #fff;
    color: #333;
    /* Add more styling as needed */
  }
  
  /* Custom styles for small screens */
@media (max-width: 767px) {
    body {
      font-size: 10px; /* Adjust font size for smaller screens */
    
    }
    .swal2-popup {
        font-size: 1rem; 
       
    }

    .swal2-title {
        font-size: 1.5rem; 
    }

    .swal2-content {
        font-size: 1.3rem; 
    }

    .swal2-popup .swal2-confirm {
        font-size: 1.2rem; 
    }
    .container {
        width: 100%;
        height: 100vh;
    }
    
    .container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    
      .overlay-text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding: 10px 50px;
        font-size: 10vw;
        text-align: center;
      }  
      
      .overlay-text2 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding: 10px 20px;
        font-size: 5vw;
        text-align: center;
      }
  }
